
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
p{
    font-family: 'Fuzzy Bubbles', cursive;
}
body{
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: none;
}
#content {
    max-width: 1600px;
    margin:  0 auto;
}
#hero-img{
    width: 100%;
}
nav a{
    color: black;
}
nav a,
#hero-msg h1, #hero-msg h4,
.button-box,
main section {
    text-align: center;
    
}


header{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 150px auto;
    background: transparent;
}

nav a:hover,
.book, .join,
.book:hover, .join:hover{
    background-color: white;
}
nav a:hover{
    color: black;
    background-color: blueviolet;
    
}
#background,
.msg,
footer {
    background-color:grey;
}
.icon, .logo{
width: 80px;
}
nav a,
.book, .join,
footer a {
text-decoration: none ;
}
footer h3 a:hover {
    text-decoration: underline;
}
.home-title {
    font-family: 'Gochi Hand', cursive;
    font-size: 2em;
    
}
.msg {
    background-color:turquoise;
    line-height: 1.5em;
  }
  .book, .join{
font-size: 18px;
  } 
  .msg p {
      font-size: .8em;
      line-height: 1.5em;
  }
  h2{
      margin:0;
  }
  main h2{
    font-family: 'Gochi Hand', cursive;
  }

  
#logo_link   {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a   {
    padding: 35px;
}
.book, .join   {
    padding: 15px 30px;
    border-radius: 5px;
}

.msg   {
    padding: 35px;
}
.msg p   {
    padding-bottom: 15px;
}
footer .social img   {
    padding-top: 15px;
}
.home-title   {
    margin-top: 10px;
}
.book, .join   {
    margin-top: 50px;

}
/* 
.rivers-card, .camping-card, .rapids-card   {
    margin: 200px 0;
} */
footer   {
    background-color: #6f7364;
    margin-top: 200px;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.card-img{
    margin-top: 10px;
    box-shadow: 5px 5px 10px #6f7364;

}
main section img {
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.msg  {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-title,h4{
    color: white;
    font-family: 'Gochi Hand', cursive;
    
}

#background{
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    margin-top: 100px;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
.msg{
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #6f7364;
    padding: 35px;
}
.one, .two, .three {
    padding: 30px;
    display: flex;
}
.card-img{
    width: 50%;

}
.card-img,.info{
    flex: 0.5;
}
.reverse{
flex-direction: row-reverse;
}
.click{
    background-color: orange;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-family: 'Lucida Sans';
    font-weight: bold;
}
h1{
    font-family: 'Gochi Hand', cursive; ;
}
#hero-im{
grid-column: 1/4;
grid-row: 1/2;

}
#hero-mg{
grid-column: 2/3;
grid-row: 1/2;
text-align: center;
}
