@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap');
body{
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: none;
}
li{
display: grid;
place-items: center;
width: 150px;
transition: all 0.2s ease-in-out;
}
nav{
    height: 130px;
    width: 100%;
    background-color:None;
    text-align: center;
    overflow: auto;
    display: grid;
    grid-template-columns: 200px 1fr;
}
li:hover{
   background-color: yellow; 
}
ul{
    padding: 0;
    list-style: none;
    display: flex;
}
nav a{
width: 100px;
display: block;
color: black;

font-family:'Orbitron', sans-serif;



}
nav a:hover{
    background: yellow;
    transition: 0.5s;
    text-transform: uppercase;
}

.logo img{
    width: 100px;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    color:black;
    text-align: center;
}
#main-img{
    width: 100%;
}
.msg{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-family:'Caveat Brush', cursive; 
    text-transform: uppercase;
    color: white;
    font-size: 70px;
    
    
}
.book{
    background-color: coral;
    color: black;
    width: 200px;
    height: 100px;
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
border-radius: 10px;
}

.hero{
    display: grid;
    
}
#main-box{
grid-row: 1/2;
grid-column: 1/2;
}
#main-msg{
grid-row: 1/2;
grid-column: 1/2;
}
.button-box{
text-align: center;
}

body{

  font-family:'Baloo Thambi 2', cursive; ;
}
.contact-box{
    
    margin-top: 70px;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
form{
   margin: 35px; 
   padding-right: 100px;
   
   
}
.input-field{
    width: 400px;
    height:40px ;
    margin: 20px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
    font-family: 'Orbitron', sans-serif;
}
.textarea-field{
    height: 150px;
    padding-top: 10px ;
    font-family:'Orbitron', sans-serif;
}
.click{
   border-radius: 20px; 
   width:100px; 
   color: black;
   margin-top: 18px ;
   padding: 10px;
   background-color:greenyellow;
   font-size: 15px;
   border: none;
   cursor: pointer;
   font-family: 'Orbitron', sans-serif;

}
