@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,200&display=swap');
body{
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: none;
}
li{
display: grid;
place-items: center;
width: 150px;
transition: all 0.2s ease-in-out;
}
nav{
    height: 130px;
    width: 100%;
    background-color:None;
    text-align: center;
    overflow: auto;
    display: grid;
    grid-template-columns: 200px 1fr;

}
li:hover{
   background-color: yellow; 
}
ul{
    padding: 0;
    list-style: none;
    display: flex;
}
nav a{
width: 100px;
display: block;
color: black;

font-family:'Orbitron', sans-serif;



}
.img2{
    width: 50%;

}
.cu5p{
    font-family:'Sedgwick Ave', cursive ;
    font-size: 30px;
    text-align: center;
    color:royalblue;
    margin-top:70px;
    
}
nav a:hover{
    background: yellow;
    transition: 0.5s;
    text-transform:uppercase;
}

.logo img{
    width: 100px;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    color:black;
    text-align: center;
}
#main-img{
    width: 100%;
}
.msg{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-family:'Caveat Brush', cursive; 
    text-transform: uppercase;
    color:white;
    font-size: 70px;

  

}
.book{
    background-color: coral;
    color: black;
    width: 200px;
    height: 100px;
    font-family: 'Orbitron', sans-serif;
    padding: 20px;
border-radius: 10px;

}

.hero{
    display: grid;

    
    
}
#main-box{
grid-row: 1/2;
grid-column: 1/2;
}
#main-msg{
grid-row: 1/2;
grid-column: 1/2;

}
.button-box{
text-align: center;
}

body{

  font-family:'Baloo Thambi 2', cursive; 
}
.contact-box{
    
    margin-top: 120px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
form{
   margin: 35px auto; 
   width: 500px;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.input-field{
    width: 400px;
    height:40px ;
    margin: 20px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
    font-family: 'Orbitron', sans-serif;
    
   
}
.input-field::placeholder{
    color:black;
}
.textarea-field{
    height: 150px;
    padding-top: 10px ;
    font-family:'Orbitron', sans-serif;
}
.click{
   border-radius: 20px; 
   margin-bottom: 20px;
   align-self: center;
   width:100px; 
   color: black;
   margin-top: 18px ;
   padding: 10px;
   background-color:greenyellow;
   font-size: 15px;
   border: none;
   cursor: pointer;
   font-family: 'Orbitron', sans-serif;

}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color:#3f7d20;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    color: white;
}
h3 a{
    color: white;
}
.social img{
    margin-top: 12px;
}
.hero{
    width: 100%;
}
.one, .two, .three{
    padding: 30px;
    display: flex;
}
.card-img, .info{
    flex: 0.5;
    text-align: center;
}
.reverse{
    flex-direction: row-reverse;
}
.card-img{
    width: 50%;
    
    margin-top: 10px;
    box-shadow: 5px 5px 10px #6f7364;
}
.click{
    background-color:royalblue;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}
h1{
    font-family: 'Caveat Brush', cursive; 
    text-transform: uppercase;
    font-size: 60px;
}
p{
    font-family:'Orbitron', sans-serif;  
}
h2{
    font-family:  'Sedgwick Ave', cursive;;
}
.uno, .dos, .tres{
    padding: 30px;
    display: flex;
}
.card-pic, .infoo{
    flex: 0.5;
    text-align: center;
}
.card-pic{
    width: 50%;
    margin-top: 10px;
    box-shadow: 5px 5px 10px #6f7364;
}
.font{
font-family: 'Lacquer', cursive ;
color:#bfbfbf
}
.description{
    font-family:'Urbanist', sans-serif ;
    font-weight: bold;
}
